# Python packages to install. Install using pip install -r requirements.txt
# Used in code:
numpy==1.23.4
opencv-python==4.6.0.66
typing==3.7.4.3
# Used in CI:
flake8==6.0.0
coverage==7.2.7
pytest==7.4.0
